.App-header {
  text-align: center;
  background-color: #434b5d;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  color: white;
  background-color: #282c34;
  min-height: 100vh;
}

footer {
  min-height: 10vh;
  background-color: #434b5d;
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

footer > p {
  text-align: center;
  font-size: 11px;
  width: 100%;
}