.winTitle {
    text-align: center;
}

.scoreIndicator {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid rgb(85, 187, 85);
    padding-left: 8px;
    padding-right: 8px;
}